# Git
.git
.gitignore
.github

# Docker
Dockerfile
docker-compose.yaml
.dockerignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDEs
.idea/
.vscode/
.vscode-test/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Django
db.sqlite3
db.sqlite3-journal
*.sqlite3
staticfiles/
media/
speakwise/media/

# Tests and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.ruff_cache/

# Others
todo.md
test_attendance.csv
README.md
LICENSE
.pre-commit-config.yaml
